<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>What2Watch</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <section id="fullCover" hidden></section>
    <header class="header">
        {{#if user}}
        <button class="headerItem loggedInMenu" id="loggedInMenu" onclick="showSideMenu()">&#8801;&#8801;</button>
        <section id="sideMenu" class='sideMenu' hidden>
            <p class="menuHeader">Menu</p>
            <a href='http://localhost:3000/account/view'>
                View Your Profile
            </a>
            <a href='http://localhost:3000/account/showSearch'>
                Search For a Show
            </a>
            <a href="http://localhost:3000/account/logout">
                Log Out
            </a>
        </section>
        {{else}}
        <button class="headerItem loggedInMenu" hidden id="loggedInMenuHidden" onclick="showSideMenu()">&#8801;&#8801;</button>
        <a class="headerItem" id="homeLink" href="/">Home</a>
        <section id="sideMenuHidden" class='sideMenu' hidden>
            <p class="menuHeader">Menu</p>
            <a href='http://localhost:3000/account/view'>
                Home
            </a>
            <a href='http://localhost:3000/account/edit'>
                Edit Profile
            </a>
            <a href="http://localhost:3000/account/logout">
                Log Out
            </a>
        </section>
        {{/if}}
        <h1 class="noStyle"><a href="/" class="titleLink">What2Watch</a></h1>
        {{#if user}}
        {{#if user.img.length}}
        <div class="headerItem iconHolder">
            <img src="{{user.img}}" onclick="showProfileMenu()" id="loggedInIitials" class="profileIcon"
                alt="{{user.username}} Profile Picture" />
        </div>
        {{else}}
        <div class="headerItem iconHolder">
            <p id="loggedInIcon" onclick="showProfileMenu()" class="profileIcon profileInitials">{{user.initials}}</p>
        </div>
        {{/if}}
        <section id="smallMenu" class='smallMenu' hidden>
            <a href='http://localhost:3000/account/view'>
                Home
            </a>
            <a href='http://localhost:3000/account/edit'>
                Edit Profile
            </a>
            <a href="http://localhost:3000/account/logout">
                Log Out
            </a>
        </section>
        {{else}}
        <div hidden class="headerItem iconHolder" id="rightLogBox">
            <img hidden id="loggedInIconHidden" src="" onclick="showProfileMenu()" class="profileIcon"
                alt="User's Profile Picture" />
            <p id="loggedInitialsHidden" onclick="showProfileMenu()" class="profileIcon profileInitials" hidden></p>
        </div>
        <section id="smallMenuHidden" class='smallMenu' hidden>
            <a href='http://localhost:3000/account/view'>
                Home
            </a>
            <a href='http://localhost:3000/account/edit'>
                Edit Profile
            </a>
            <a href="http://localhost:3000/account/logout">
                Log Out
            </a>
        </section>
        <div id="logBox">
            <section id='loginStatus'>
                <button class="headerItem loginLink" id="loginBtn">Log In</button>
            </section>
            <section id='loginSection' hidden>
                <button id="closeLoginBtn">x</button>
                <h2 class="loginHeader">Login</h2>
                <form name="loginForm" class='accountForm' action="/account/checkAccount" method="post" id="loginForm">
                    <p class="errorMessage" id="loginError" hidden></p>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" autocomplete>
                    <button type="submit">Login</button>
                </form>
                <a href="/account/create" class="littleLink">No account? Make one today!</a>
            </section>
        </div>
        {{/if}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="footer">
        <p>A Web Application By: Jared Follet, Joshua Mimer, Logan Rechler, and Kaitlyn Sharo</p>
        <p>For CS 546 - Web Programming I - Spring 2022 - Web Section</p>
        <p>Stevens Institute of Technology</p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    {{> (lookup . 'partial') }}
</body>

</html>