<section id="modalBackdrop" hidden class="modalBackground">
    <section id="modal" class="popupModal">
        <h3>Add show to database?</h3>
        <section class="horizontalFlex">
            <button id="dontAdd">No</button>
            <button id="addShow">Yes</button>
        </section>
    </section>
</section>
<section class="searchResults cardLayoutImgRight">
    {{#if shows.length}}
        <ul>
            {{#each shows}}
            <li>
                <a class="searchLink" onclick="openModal(`{{show.id}}`)">{{show.name}}</a>
                <img class="searchImg" alt="Image for {{show.name}}" src={{show.image}} />
            </li>
            {{/each}}
        </ul>

    {{else}}
        <p class="noResults">We're sorry, but no results were found for {{info.searchTerm}}.</p>
    {{/if}}
</section>