<h2 class="subheader">Edit Your Account</h2>
<article class="editSection">
    {{#if error}}
        <p class="errorMessage">{{errorMessage}} (status code: {{errorStatus}})</p>
    {{/if}}
    <p id='editError' class="errorMessage" hidden></p>
    <p>Email/Username: {{user.email}}</p>
    <section class="uneditable">
        <p>First Name: {{user.firstName}}</p>
        <p>Last Name: {{user.lastName}}</p>
        <p>Screen Name: {{user.username}}</p>
        <section class="chosenPicSection">
            <label>Profile Picture:</label>
            {{#if user.img.length}}
                <img class='picPreview' alt='Your profile picture' src={{user.img}} />
            {{else}}
                <p class="picPreview">No Profile Picture</p>
            {{/if}}
        </section>
        <button type="button" onclick="openPasswordEdit()">Change Password</button>
        <section class="horizontalFlex">
            <button onClick='editOn()'>Edit</button>
            <button onClick="userHome(event)">Home</button>
        </section>
    </section>
    <section id="modalBackdropEdit" onclick='closePasswordEdit()' hidden class="modalBackground"></section>
<section id="editPassModal" hidden class="topModalSection">
    <section id="passwordModal" class="popupModal bigModal">
        <h3>Change Your Password:</h3>
        <form name="changePassForm" class='accountForm' action="/account/changePassword" method="post" id="changePassForm">
            <p class="errorMessage" id="hiddenChangePassError" hidden></p>
            <label for="curPass">Current Password:</label>
            <input type="password" id="curPass" name="curPass">
            <label for="newPass">New Password:</label>
            <input type="password" id="newPass" name="newPass">
            <label for="confirmPass">Confirm New Password:</label>
            <input type="password" id="confirmPass" name="confirmPass">
            <section class="horizontalFlex">
                <button type="button" onclick="closePasswordEdit()">Close</button>
                <button type="submit" id="changePassBtn">Finish</button>
            </section>
        </form>
    </section>
</section>
    <form hidden class="editable" id="editForm" action='/account/update' method='POST'>
        <label for="editFirstName">
            First Name </label>

        <input type="text" id="editFirstName" name="editFirstName" value={{user.firstName}}>
        <label for="editLastName">
            Last Name </label>

        <input type="text" id="editLastName" name="editLastName" value={{user.lastName}}>
        <label for="editScreenName">
            Screen Name </label>

        <input type="text" id="editScreenName" name="editScreenName" value={{user.username}}>
        <label id='fileChooser' for="editProfPic" onClick="document.getElementById('imgSelector').hidden = !document.getElementById('imgSelector').hidden"> Choose Profile Picture</label>
        <article class="horizontalFlex">
        <section hidden id="imgSelector">
            {{#each imgData}}
            <button>
                <img alt={{alt}} src={{link}} onClick="imgChosen(event, `{{link}}`)" />
            </button>
            {{/each}}
        </section>
        <section class="chosenPicSection">
            <label>Your Picture:</label>
            {{#if user.img.length}}
                <img id='chosenImg' class='picPreview' alt='Your chosen profile picture' src={{user.img}} />
            {{else}}
                <p class="picPreview" id="noPic">No Profile Picture</p>
                <img id='hiddenImg' class='picPreview' hidden alt='Your chosen profile picture' src={{user.img}} />
            {{/if}}
        </section>
        </article>

        <section class="horizontalFlex">
            <button type='submit'>Save Changes</button>
            <button onClick="userHome(event)">Home</button>

        </section>
    </form>
</article>