<section id="mainDescription">
    <img id='homeImg' src="https://images.pexels.com/photos/5721871/pexels-photo-5721871.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt='A TV sitting by a brick wall'/>
    <article>
        <p>Tired of staring at your TV for hours just trying to figure out what to watch?</p>
        <p>Welcome to What2Watch.</p>
        <p>We guarantee you'll never have that problem again...</p>
    </article>
</section>


<section id="startForm">
    <form action='/shows/search' method='POST' id="homeSearch" class="formClass">
        <label for='searchTerm' class="subheader">
            Search for a show to get started!
        </label>

        <input type='text' placeholder='Search' name='searchTerm' id='searchTerm' class='inputBox' />
        <button type="submit">Search!</button>
        <p id='editError' class="errorMessage" hidden></p>
    </form>
</section>

<hr class="topSpace">

<h2 class="subheader topSpace">Most Liked Shows</h2>
{{#if likedShows.length}}
<section id="bestShows" class="grid-container">
    {{#each likedShows}}
        <div class="card">
                <img class="covers clickable" onclick="location.href = 'http://localhost:3000/shows/view/{{this._id}}'" src={{this.image}} alt="Image for {{this.name}}">
                <div class="content">
                    <h3 class = "titlename"><b>{{this.name}}</b></h3>
                    <p >Likes: {{this.likes}}</p>
                </div>        
        </div>
    {{/each}}
</section>
{{else}}
<p>Could not fetch shows.</p>
{{/if}}

<h2 class="subheader topSpace">Most Watched Shows</h2>
{{#if watchedShows.length}}
<section id="popularShows" class="grid-container">
    {{#each watchedShows}}
        <div class="card">
                <img class="covers clickable" onclick="location.href = 'http://localhost:3000/shows/view/{{this._id}}'" src={{this.image}} alt="Image for {{this.name}}">
                <div class="content">
                    <h3 class="titlename"><b>{{this.name}}</b></h3>
                    <p>Watches: {{this.watches}}</p>
                </div>        
        </div>
    {{/each}}
</section>
{{else}}
<p>Could not fetch shows.</p>
{{/if}}

<a href='http://localhost:3000/shows/allShows' class="bigLink clickable">Click Here To View All Shows</a>
