{{#if shows.length}}
<h2 class="subheader">Search Term: {{searchTerm}}</h2>
<section class="searchResults bigSearch cardLayoutImgRight">
    <ul class="scrollingList">
        {{#each shows}}
        <li>
            <a class="searchLink"
                onclick="location.href = 'http://localhost:3000/shows/view/{{this._id}}'">{{this.name}}</a>
            <aside class="searchImg">
                <img alt="Image for {{this.name}}" src={{this.image}} />
                <p>{{this.start_year}} - {{this.end_year}}</p>
                <p>Likes: {{this.likes}}</p>
                <p>Dislikes: {{this.dislikes}}</p>
                <p>Watches: {{this.watches}}</p>

            </aside>
        </li>
        {{/each}}
    </ul>
    {{else}}
    {{#if user}}
    <section id="modal" class="popupModal mediumModal">
        <p class="messageText">No shows matching that search term were found. Would you like to add a show to the database?</p>
        <section class="horizontalFlex">
            <button id="dontAdd" onclick="location.href='http://localhost:3000/shows/search'">No</button>
            <button id="addShow" onclick="location.href='http://localhost:3000/shows/add/{{searchTerm}}'">Yes</button>
        </section>
    </section>
    {{else}}
    <section id="modal" class="popupModal mediumModal">
        <p class="messageText">No shows matching that search term were found. Log in to add a show to the database!</p>
        <button id="dontAdd" onclick="location.href='http://localhost:3000/shows/search'">Close</button>
    </section>
    {{/if}}
</section>
{{/if}}
</section>
{{#if shows.length}}

<form action='/shows/search' method='POST' id="newSearch" class="formClass">
    <label for='smallSearch'>
        Search for another show:
    </label>

    <input type='text' placeholder='Search' name='smallSearch' id='smallSearch' class='inputBox' />
    <button type="submit" class="smallBtn">Search!</button>
    <p id='editError' class="errorMessage" hidden></p>

</form>
{{#if user}}
<a class="littleLink" href="http://localhost:3000/shows/add/{{searchTerm}}">Can't find your favorite show? Click
    here to add one to our database!</a>
{{/if}}
{{/if}}
</section>