<h2 class="subheader">Welcome Back, {{user.firstName}}!</h2>
<hr/>
<h3 class="reviewHeader">Recommendations Just For You</h3>
<article class="cardLayout accountCard">
    {{#if recs.length}}
    <ul>
        {{#each recs}}
        <li><a class="searchLink" href="http://localhost:3000/shows/view/{{this._id}}"><img
                    alt="Image for {{this.name}}" class="thumbnail" src="{{this.image}}" /><span
                    class="showName">{{this.name}}</span></a>

            <aside class="searchImg">
                <h4>Details</h4>
                <p>{{this.start_year}} - {{this.end_year}}</p>
                <p>Likes: {{this.likes}}</p>
                <p>Dislikes: {{this.dislikes}}</p>
                <p>Watches: {{this.watches}}</p>
            </aside>
        </li>
        {{/each}}
    </ul>
    {{else}}
        <p class="messageText">Start liking shows to get recommendations!</p>
    {{/if}}
</article>
<h3 class="reviewHeader">Your Liked Shows</h3>
<article class="cardLayout accountCard">
    {{#if likes.length}}
    <ul>
        {{#each likes}}
        <li><a class="searchLink" href="http://localhost:3000/shows/view/{{this._id}}">
                <img class="thumbnail" alt="Image for {{this.name}}" src="{{this.image}}" />
                <span class="showName">{{this.name}}</span></a>
            <aside class="searchImg">
                <h4>Details</h4>
                <p>{{this.start_year}} - {{this.end_year}}</p>
                <p>Likes: {{this.likes}}</p>
                <p>Dislikes: {{this.dislikes}}</p>
                <p>Watches: {{this.watches}}</p>
            </aside>
        </li>
        {{/each}}
    </ul>
    {{else}}
        <p class="messageText">You haven't liked any shows yet.</p>
    {{/if}}
</article>
<h3 class="reviewHeader">Shows You've Seen</h3>
<article class="cardLayout accountCard">
    {{#if watched.length}}
    <ul>
        {{#each watched}}
        <li><a class="searchLink" href="http://localhost:3000/shows/view/{{this._id}}"><img
                    alt="Image for {{this.name}}" class="thumbnail" src="{{this.image}}" />
                <span class="showName">{{this.name}}</span></a>
            <aside class="searchImg">
                <h4>Details</h4>
                <p>{{this.start_year}} - {{this.end_year}}</p>
                <p>Likes: {{this.likes}}</p>
                <p>Dislikes: {{this.dislikes}}</p>
                <p>Watches: {{this.watches}}</p>
            </aside>
        </li>
        {{/each}}
    </ul>
        {{else}}
        <p class="messageText">You haven't watched any shows yet.</p>
    {{/if}}
</article>
<h3 class="reviewHeader">Your Reviews</h3>
<article class="cardLayout accountCard reviewLayout">
    <p class="errorMessage" id="updateReviewsError" hidden></p>
    <p class="successMessage" id="updateReviewsSuccess" hidden></p>
    {{#if reviews.length}}
        {{#each reviews}}
        <form id='updateForm_{{this._id}}' class='reviewForm' action='/reviews/update' method='POST'>
            <label for="review_{{this._id}}"><a href="http://localhost:3000/shows/view/{{this.showName._id}}">Review for
                    {{this.showName.name}}:</a></label>
                    <p id="uneditable_{{this._id}}">{{this.content}}</p>
            <textarea id="review_{{this._id}}" hidden name="review">{{this.content}}</textarea>
            {{#if this.anonymous}}
            <label hidden id="label_{{this._id}}" for="anonymous_{{this._id}}">Anonymous:<input type="checkbox"
                    name="anonymous" checked id="anonymous_{{this._id}}"></input></label> {{else}}             
                    <label hidden id="label_{{this._id}}" for="anonymous_{{this._id}}">Anonymous:<input type="checkbox"
                    name="anonymous" id="anonymous_{{this._id}}"></input></label>  
            {{/if}}
            <section class="horiziontalFlex spaceBottom">
            <button type="button" id="editReview_{{this._id}}" class="editReviewBtn smallBtn">Edit</button>
            <button id="updateReview_{{this._id}}" hidden type='submit' class="updateReviewBtn smallBtn">Update</button>
            <button id="deleteReview_{{this._id}}" type='button' class="deleteReviewBtn smallBtn">Delete</button>
            </section>
        </form>
        {{/each}}
    {{else}}
    <p class="messageText">Uh oh! Looks like you haven't left any reviews yet</p>
    {{/if}}
</article>