<article class="cardLayout">
    <h2 class="subheader showName">{{ showData.name }}</h2>
    {{#if user}}
    <h3 class="showSubheader">
        <img src={{likeIcon}} id='tup' class="svgImg" alt="Thumbs Up" />
        Likes: <span id='likesTxt'>{{showData.likes}}</span> |
        <img src={{dislikeIcon}} id='tdown' class="svgImg" alt="Thumbs Down" />Dislikes: <span id='dislikesTxt'>{{showData.dislikes}}</span> |
        <img src={{watchedIcon}} id='watched' class="svgImg" alt="Watched check mark" />Watches:
        <span id='watchesTxt'>{{showData.watches}}</span>
    </h3>
    {{else}}
        <h3 class="showSubheader">
        Likes: {{showData.likes}} |
        Dislikes: {{showData.dislikes}} |
        Watches: {{showData.watches}}
    </h3>
    {{/if}}
    <aside class="showImg">
        <img src={{ showData.image }} alt='Image of Show' />
    </aside>
    <dl class="showDetails">
        <dt>Number of Episodes</dt>
        <dd>{{ showData.num_episodes }}</dd>
        <dt>Episode Length</dt>
        <dd>{{ showData.runtime }} minutes</dd>
        <dt>Years Running</dt>
        <dd>{{ showData.start_year}} - {{showData.end_year}}</dd>
        <dt>Language</dt>
        <dd>{{ showData.language }}</dd>
        <dt>Genres</dt>
        {{#if showData.genres.length}}
        <dd>
            <ul>
                {{#each showData.genres}}
                <li>{{ this }}</li>
                {{/each}}
            </ul>
        </dd>
        {{else}}
        <dd>
            N/A
        </dd>
        {{/if}}
        <dt>Summary</dt>
        <dd>{{{ showData.summary }}}</dd>
        <dt>Reviews</dt>
        {{#if reviews.length}}
        <dd>
            <ul>
                {{#each reviews}}
                <li>{{this.content}}</li>
                {{/each}}
            </ul>
        </dd>
        {{else}}
        <dd>
            N/A
        </dd>
        {{/if}}
    </dl>
</article>
<article class="cardLayout">
<h2>Write a Review:</h2>
    <form name="reviewForm" class='reviewForm' action="/review/create" method="post" id="reviewForm">
        <label for="content">Review:</label>
        <input type="text", name="content", id="content">
        <button id="createReviewBtn">Create!</button>
    </form>
</article>