<h2 class="subheader">Welcome Back, {{user.firstName}}!</h2>
<h3>Recommendations Just For You</h3>
<ul>
    {{#each recs}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<h3>Your Liked Shows</h3>
<ul>
    {{#each likes}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<h3>Shows You've Seen</h3>
<ul>
    {{#each watched}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<h3>Your Reviews</h3>
<ul>
    {{#each reviews}}
    <li>{{this}}</li>
    {{/each}}
</ul>
